body{
  font-family: 'Helvetica', sans-serif;
  background-color: #222;
  margin:20px;
  padding:0;
  color: white;
}

img:hover{
  opacity: 0.5;
}

img{
  width: 175px;
  border-radius: 5px;
}

#barra{
  height:50px;
  background-color:transparent;
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:9000;
}

#barra li{
  float:left;
  display: inline;
  list-style-type: none;
  padding-left: 5px;
}

#barra a{

}

#barra a:active {
color: #CCC;
}

#barra a:link {
  border-bottom: solid 2px;
}

#barra a:visited {
  color: #FFF;
}

#barra a:hover {
  color: #FFF;
}

#barra .izq{
  float:right;
}


#logo{
  background-position: -10px 0;
  height: 50px;
  background-size:38px 30px;
  text-indent:100px;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  margin-left:20px;

}

#conten{
position: relative;


  float: left;
}

#conten #intere{
}


#conten div{
  float:left;
  display: inline-block;
  padding: 20px;
}

#conten h1{
  color:#CCC;
  font-size: 14px;
}

#conten h2{
  color:#FFF;
  font-size: 22px;
  float:right;
}

#conten h3{
  color:#CCC;
  font-size: 11px;
}
#conten h5{
  color: white;
  font-size: 24px;
}
