body{
  margin: 0;
  padding: 0;
  background-color: #e9ebed;
  font-family: 'LucidaGrande', Tahoma, Segou UI, San Francisco, Roboto;


}


#barra{
  height:43px;
  background-color: #5066ae;
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:9000;
}


#contenent{
  margin: auto;
  width: 852px;
  overflow: hidden;
  background-color: #e9ebed;
}


li a{
  text-decoration: none;
  font-weight: bold;
}


#contenent #cap{
  height: 408px;
  background-image: url(../img/nieve.jpg);
  background-repeat: no-repeat;
  background-color: white;
  background-size: 853px 358px;
  box-shadow: 1px 0px 1px #666666;
  border-radius: 3px;
  }


#contenent #cap img{
  left:21px;
  top:200px;
  border-radius: 50%;
  border: solid white 4px;
  position: relative;
  width: 170px;
  height: 170px;
  box-shadow: 2px 2px 2px #666666;
}


#cap h2{
  position: relative;
  left: 230px;
  top: 70px;
  color: white;
  text-shadow: 2px 2px 2px #666666;
}


#menu{
  float:right;
  width: 647px;
  height: 43px;
  background-color: #ACB8C2;
  padding: 0;
  margin:3px;
  left:70px;
  position: relative;
  top: 109px;
  font-size: bold 14px;
  border-radius: 3px;
}


#menu li{
  line-height: 43px;
  float:left;
  display: inline;
  padding: 0 20px 0 20px;
  background-color: white;
  margin:0 1px;
}


#menu a{
  color:#5067af;
  text-decoration: none;
  font-size:14px;
}


#presentacio, #amigos, #fotos, #surprise, #idioma{
  font-size:12px;
  overflow:hidden;
  background-color: white;
}



#presentacio p{
  border-bottom: solid 1px #ddd;
  box-shadow:0 1px 0 #ddd;
  margin:12px;
  padding-bottom:12px;
  list-style-image:url(../img/);
}


#presentacio .study{
  list-style-image:url(../img/);
  background-repeat: no-repeat;
  background-size:24px;
  background-position:0 ;
}


#presentacio .life{
  list-style-image:url(../img/);
}


#presentacio .born{
  list-style-image:url(../img/);
}


#amigos{
}

#fotos{
}

#surprise{
}

#idioma{
}


.izq{
  width:298px;
  background-color: #ffffff;
  border-radius: 3px;
  border: solid 1px #ddd;
  margin-top: 12px;
  float:left;
  clear:left;

}

.der{
  height:100px;
  width:492px;
  background-color: #ffffff;
  border-radius: 3px;
  border: solid 1px #ddd;
  margin-top: 12px;
  float:right;
  clear:right;
}


.izq, .der{
  padding:12px;
}


.izq li, .der li{
 text-decoration: none;
 list-style-type: none;
 display:block;
 float:left;
 line-height: 43px;
 padding: 0 20px 0 20px;
}


aside{
  width: 322px;
  float:left;
}


#amigos ul{
  overflow: hidden;
  margin: 0;
  padding: 0;
}


#amigos li{
  padding:0;
  margin: 2px;
  float: left;
  list-style-type: none;
  width: 95px;
  height: 95px;
  position: relative;
  background-size: 100%;
  background-repeat: no-repeat;
  font-size: 14px;
  text-align: justify;
  line-height: 18px;
}

#SM{background-image: url(https://smarcer2019crn.github.io/M08/s2m8uf104_marcer/img/perfil_yo.jpg);
}
#SF{background-image: url(https://sfernandez2019crn.github.io/M08/s2m8uf104_fernandez/img/gos.png);
}
#AC{background-image: url(https://acarranco2019crn.github.io/m08/s2m8uf0104carranco/img/profile.jpg);
}
#PS{background-image: url(https://psanz2019crn.github.io/M08/s2m8uf104_sanz/img/aoperfil.gif);
}
#GB{background-image: url(https://gbonsoms2019crn.github.io/M08/s2m8uf104_facebook/img/bird.jpg);
}
#SG{background-image: url(https://sgarzon2019crn.github.io/M08/s2m8uf104_facebook/img/perfil.jpg);
}
#VH{background-image: url(https://vherrero2019crn.github.io/M08/s2m8uf104facebook/img/perfil.png);
}
#NP{background-image: url(https://iprados2019crn.github.io/M08/s2m8uf104_iprados/img/fotoperfil.jpg);
}
#MM{background-image: url(https://mmunozp2019crn.github.io/M08/s2m8uf104_munoz/img/logo.jpg);
}


#seccio h2{
  text-indent:24px;
}


#seccio h3{
  background-image: url(../img/lateral.gif);
  background-repeat: no-repeat;
  background-size:24px;
  text-indent:40px;
  height: 24px;
}


#presentacio h3{
 background-position: 0 0px;
}


#fotos h3{
  background-position: 0 -24px;
}


#amigos h3{
  background-position: 0 -48px;
}


#surprise h3{
  background-position: 0 -72px;
}

#idioma h3{
  background-position: 0 -72px;
}
