@media only screen and (max-width: 640px) {

*{
  padding: 0;
  margin:0 auto;
  font-family: 'Futura', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
    display: none;

}

::-webkit-scrollbar {

  border-radius: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);

}


/* Handle */
::-webkit-scrollbar-thumb {
  background: #31D9A6;
  border-radius: 8px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #50D1A8;
  border-radius: 8px;
}


.contenedor{
  margin: 0 auto;
}

/* 0.0 Day and night */

:root{
	--bgWhite:#f2f2f2;
	--bgBlack:#2E3332;
	--colorBlack:var(--bgBlack);
	--colorWhite: var(--bgWhite);
}
.border{
	position: absolute;
	width: 73px;
	height: 40px;
	background: var(--bgWhite);
	border:2px solid var(--colorBlack);
	border-radius: 10px;
	cursor: pointer;
	margin:4px;
  display: block;
  overflow: hidden;
}

.button{
	width: 25px;
	height: 25px;
	margin:6px 3.4px;
	border-radius: 50%;
	background: var(--bgBlack);
	transition: .5s;
  position: relative;
  z-index: 100!Important;


}
.day{
	width: 100%;
	height: 1000px;
	box-sizing: border-box;
	background: var(--bgWhite);
	color: var(--colorBlack);
	transition: 1s;
	text-align: center;
  text-decoration: none;
}

/* 0.1 Movimiento */

.activeBorder{
	background: var(--bgBlack);
	border:2px solid var(--colorWhite);
}
.active{
	background: var(--bgWhite);
	transform: translateX(150%);
  z-index: 1000000;
}
.night{
	background: var(--bgBlack);
	color:var(--colorWhite);
}


/* 1.0 Barra Fija */

#menu-fixed{
  z-index: 10000;
  position: fixed;
  top: 0;
}

.barra{
  height: 50px;
  width: 100%;
  background-color: #31D9A6;
  z-index:50;
}

/* 1.1 iconos */

.sol, .luna, .ajustes{
  background-position: center;
  background-repeat: no-repeat;
  height: 30px;
  width: 32px;
  position: relative;
  background-color: transparent;
  border:none;
  margin-top:10px;
  z-index: 90;

}

.sol{
  background-image: url(../img/sol.png);
  float:left;
  top:-7px;

}

.luna{
  background-image: url(../img/luna.png);
  float:left;
  top:-7px;
}

.ajustes{
  background-image: url(../img/ajustesBlack.svg);
  float:right;
  margin-right: 10px;
}
.ajustesNight{
  background-image: url(../img/ajustesWhite.svg);
  float:right;
  margin-right: 10px;
}

/*  Buscador */

.ultimo{

    padding: 40px;
}

h2{

  padding-top:100px;
}

form{
    margin-top: 20px;
    width: 90%;
  }


  .text input {
    resize: none;
    width: 90%;
    height: 60px;
    border: solid 0.5px grey;
    border-radius: 30px;
    overflow: hidden;
    font-size: 12pt;
    outline:none;
    background: var(--bgBlack);
  	color:var(--colorWhite);
    text-align: center;

  }

  .textNight input{
  	background: var(--bgWhite);
  	color:var(--colorBlack);
  }

  /* 3.0 footer */

  footer {
    width: 100%;
    height: 15%;
    bottom: -1vh;
    background-color:  #31D9A6;
    position:fixed;

  }
  #footerFalse {
    width: 100%;
    height: 100px;


  }


  /* 3.1 footer */

  .home, .lupa, .library{
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border:none;
    display: inline-block;
    width: 7vh;
    height: 7vh;
    padding: 0 10%;
    margin-top: 7%;

  }


.home{
  background-image: url(../img/homeBlack.svg);

}

.lupa{
  background-image: url(../img/lupaBlack.svg);

}

.library{
  background-image: url(../img/libraryBlack.svg);

}

.homeNight{
  background-image: url(../img/homeWhite.svg);

}

.lupaNight{
  background-image: url(../img/lupaWhite.svg);

}

.libraryNight{
  background-image: url(../img/libraryWhite.svg);

}



}

@media only screen and (min-width: 641px) {

*{
  padding: 0;
  margin:0;
  font-family: 'Futura', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

body::-webkit-scrollbar {
    display: none;

}

::-webkit-scrollbar {

  border-radius: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);

}


/* Handle */
::-webkit-scrollbar-thumb {
  background: #31D9A6;
  border-radius: 8px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #50D1A8;
  border-radius: 8px;
}


.contenedor{
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

/* 0.0 Day and night */

:root{
	--bgWhite:#f2f2f2;
	--bgBlack:#2E3332;
	--colorBlack:var(--bgBlack);
	--colorWhite: var(--bgWhite);
}
.border{
	position: absolute;
	width: 73px;
	height: 40px;
	background: var(--bgWhite);
	border:2px solid var(--colorBlack);
	border-radius: 10px;
	cursor: pointer;
	margin:4px;
  display: block;
  overflow: hidden;
}

.button{
	width: 25px;
	height: 25px;
	margin:6px 3.4px;
	border-radius: 50%;
	background: var(--bgBlack);
	transition: .5s;
  position: relative;
  z-index: 100!Important;


}
.day{
	width: 100%;
  height: 1000px;
	box-sizing: border-box;
	background: var(--bgWhite);
	color: var(--colorBlack);
	transition: 1s;
	text-align: center;
  text-decoration: none;
}

/* 0.1 Movimiento */

.activeBorder{
	background: var(--bgBlack);
	border:2px solid var(--colorWhite);
}
.active{
	background: var(--bgWhite);
	transform: translateX(150%);
  z-index: 1000000;
}
.night{
	background: var(--bgBlack);
	color:var(--colorWhite);
}


/* 1.0 Barra Fija */

#menu-fixed{
  z-index: 10000;
  position: fixed;
  top: 0;
}

.barra{
  height: 50px;
  width: 100%;
  background-color: #31D9A6;
  z-index:50;
}

/* 1.1 iconos */

.sol, .luna, .ajustes{
  background-position: center;
  background-repeat: no-repeat;
  height: 30px;
  width: 32px;
  position: relative;
  background-color: transparent;
  border:none;
  margin-top:10px;
  z-index: 90;

}

.sol{
  background-image: url(../img/sol.png);
  float:left;
  top:-7px;

}

.luna{
  background-image: url(../img/luna.png);
  float:left;
  top:-7px;
}

.ajustes{
  background-image: url(../img/ajustesBlack.svg);
  float:right;
  margin-right: 10px;
}
.ajustesNight{
  background-image: url(../img/ajustesWhite.svg);
  float:right;
  margin-right: 10px;
}

/*  Buscador */

.ultimo{
  width: 95%;
    padding: 40px;
}

h2{
  margin-left:-50px;
  padding-top:100px;
}

form{
    margin:50px;

  }


  .text input {
    resize: none;
    width: 90%;
    height: 60px;
    border: solid 0.5px grey;
    border-radius: 30px;
    overflow: hidden;
    font-size: 12pt;
    outline:none;
    background: var(--bgBlack);
  	color:var(--colorWhite);
    text-align: center;

  }

  .textNight input{
  	background: var(--bgWhite);
  	color:var(--colorBlack);
  }

/* 3.0 footer */

footer {
  width: 100%;
  height: 100px;
  bottom: 1px;
  background-color:  #31D9A6;
  position:fixed;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 100px 100px rgba(0,0,0,0.22);
}
#footerFalse {
  width: 100%;
  height: 100px;


}


/* 3.1 footer */

.home, .lupa, .library{
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border:none;
  display: inline-block;
  width: 50px;
  height: 45px;
  padding: 0 60px;
  margin-top: 25px;

}

.home{
  background-image: url(../img/homeBlack.svg);

}

.lupa{
  background-image: url(../img/lupaBlack.svg);

}

.library{
  background-image: url(../img/libraryBlack.svg);

}

.homeNight{
  background-image: url(../img/homeWhite.svg);

}

.lupaNight{
  background-image: url(../img/lupaWhite.svg);

}

.libraryNight{
  background-image: url(../img/libraryWhite.svg);

}



}
